canvas {
    display: block;
    margin: 30px 25%;
}

.title {
    margin: 0 auto;
}

@media print {

    /* styles here https://www.sitepoint.com/css-printer-friendly-pages/ */
    .page-title,
    input {
        display: none;
    }

    .page {
        break-after: page;
    }
}